.home-shift-calendar {
  --fc-monarch-primary: var(--color-primary);
  --fc-monarch-primary-foreground: var(--color-primary-content);
  --fc-monarch-primary-over: color-mix(in oklab, var(--color-primary), black 10%);
  --fc-monarch-primary-down: color-mix(in oklab, var(--color-primary), black 20%);
  --fc-monarch-secondary: var(--color-base-200);
  --fc-monarch-secondary-foreground: var(--color-base-content);
  --fc-monarch-secondary-over: var(--color-base-300);
  --fc-monarch-secondary-down: var(--color-base-300);
  --fc-monarch-tertiary: var(--color-secondary);
  --fc-monarch-tertiary-foreground: var(--color-secondary-content);
  --fc-monarch-tertiary-over: var(--color-secondary);
  --fc-monarch-tertiary-down: var(--color-secondary);
  --fc-monarch-event: var(--color-primary);
  --fc-monarch-event-contrast: var(--color-primary-content);
  --fc-monarch-highlight: color-mix(in oklab, var(--color-primary) 10%, transparent);
  --fc-monarch-now: var(--color-primary);
  --fc-monarch-selected: var(--color-primary);
  --fc-monarch-selected-foreground: var(--color-primary-content);
  --fc-monarch-selected-over: var(--color-primary);
  --fc-monarch-selected-down: var(--color-primary);
  --fc-monarch-outline: var(--color-primary);
  --fc-monarch-popover: var(--color-base-100);
  --fc-monarch-popover-foreground: var(--color-base-content);
  --fc-monarch-background: var(--color-base-100);
  --fc-monarch-faint: color-mix(in oklab, var(--color-base-content) 5%, transparent);
  --fc-monarch-muted: color-mix(in oklab, var(--color-base-content) 10%, transparent);
  --fc-monarch-strong: color-mix(in oklab, var(--color-base-content) 15%, transparent);
  --fc-monarch-stronger: color-mix(in oklab, var(--color-base-content) 20%, transparent);
  --fc-monarch-strongest: color-mix(in oklab, var(--color-base-content) 25%, transparent);
  --fc-monarch-foreground: var(--color-base-content);
  --fc-monarch-faint-foreground: color-mix(in oklab, var(--color-base-content) 40%, transparent);
  --fc-monarch-muted-foreground: color-mix(in oklab, var(--color-base-content) 65%, transparent);
  --fc-monarch-border: var(--color-base-300);
  --fc-monarch-strong-border: var(--color-base-content);
}
